//Fuentes
@font-face {font-family: AvenirBold; src: url("../fonts/avenir-next-bold.ttf")}
@font-face {font-family: AvenirDemi; src: url("../fonts/AvenirNext-DemiBold.ttf")}
@font-face {font-family: AvenirM; src: url("../fonts/AvenirNext-Medium.ttf")}
@font-face {font-family: AvenirR; src: url("../fonts/AvenirNext-Regular.ttf")}
@font-face {font-family: seansProR; src: url("../fonts/SourceSansPro-Regular.otf")}
@font-face {font-family: seansProB; src: url("../fonts/SourceSansPro-Bold.otf")}

body{
	background: white;
	overflow-x: hidden;
	width: 100%;
}

.header{
	background: #fff;
	height: 90px;
	padding: 30px;
	width: 100%;
	.logo-principal{
		background-image: url("../img/logo.png");
		width: 200px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		float: left;
	}
	.logo-car{
		background-image: url(../img/carrito.png);
	    width: 45px;
	    height: 45px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    float: right;
	    margin-top: -4px;
		.circle-buy{
			width: 20px;
			height: 20px;
			background: #AFC75A;
			border-radius: 50%;
		    position: absolute;
		    right: 22px;
		    top: 22px;
		    span{
		    	font-size: 12px;
			    color: white;
			    vertical-align: text-top;
			    padding-left: 7px;
		    }
		}
	}
}

.navbar{
	background-color: #5B3E89;
	padding: 0px;
	button{
		border-color: transparent!important;
		.navbar-toggler-icon{
		  background-image: url("../img/menu.svg");
		}
	}
	.form-inline{
		width: 75%;
		padding: 0px 10px;
		.searching{
			background-image: url(../img/buscador.png);
		    background-position: right;
		    background-size: 17px;
		    height: 26px;
		    background-repeat: no-repeat;
		    font-family: AvenirR;
		    font-size: 11px;
		    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			    font-family: AvenirR;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			    font-family: AvenirR;
			}

			::-ms-input-placeholder { /* Microsoft Edge */
			    font-family: AvenirR;
			}
		}
	}
	.navbar-collapse{
		background: #EEF0F2;
		height: 110px;
		.nav-link{
		    color: rgba(255,255,255,1);
		}
		.button-box{
			padding: 8px;
			.orange-button{
				background: #E47868;
			    text-align: center;
			    border-radius: 8px;
			    margin: 5px;
			    font-family: AvenirR;
			    font-size: 12px;
			    width: 100%;
			    padding: 0px 5px;
			}
		}
		.menu{
			.ico-menu{
				display: block;
				background-image: url("../img/menu.svg");
				background-repeat: no-repeat;
				background-size: contain;
				float: right;
    			background-position: center;
    			width: 30px;
    			height: 30px;
    			cursor: pointer;
			}
		}
		.principal-menu{
			background: #AEC65A;
			position: absolute;
		    right: 15px;
		    padding: 0px 8px 8px 8px;
		    border-bottom-left-radius: 8px;
		    border-bottom-right-radius: 8px;
			li{
				height: 30px;
				.ico{
					display: inline-block;
				    width: 20px;
				    height: 20px;
				    background-size: contain;
				    margin: 0px 5px;
				    background-repeat: no-repeat;
				    vertical-align: bottom;
					&.ico-home{
						background-image: url("../img/home.svg");
					}
					&.ico-premiame{
						background-image: url("../img/premiame.svg");
					}
					&.ico-card{
						background-image: url("../img/card.svg");
					}
				}
			}
		}
	}
}

.container-fluid{
	font-family: AvenirR;
	#wrapper-section{
		.carousel-indicators{
			bottom: 0px;
    		margin: 5px;
			li{
				border-radius: 50%;
			    width: 8px;
			    height: 8px;
			}
		}
		.space-gray{
			background: #E1E2E2;
			height: 100px;
		}
		.banner{
			height: 110px;
    		margin-bottom: 10px;
    		.title{
    			position: absolute;
			    background: rgba(33, 33, 33, 0.2);
			    width: 100%;
			    height: 60px;
			    z-index: 999999;
			    bottom: 0px;
			    color: white;
			    font-size: 25px;
			    .icon-premiame{
			    	background-image: url(../img/premiame.svg);
				    background-repeat: no-repeat;
				    width: 15%;
				    height: 34px;
				    padding-left: 45px;
				    display: block;
				    margin-top: 10px;
				    float: right;
			    }
    		}
		}
		.option-buttons{
			padding: 15px;
			button{
				color: white;
			    font-size: 12px;
			    padding: 4px 10px;
			    width: auto;
			    border: none;
			    border-radius: 5px;
			}
		}
	}
	.item{
		img{
			width: 100%;
		}
	}
	.list-menu{
		padding: 0px;
	    list-style-type: none;
	    font-size: 10px;
	    text-transform: uppercase;
	    margin: 5px 0px;
	    li{
	    	margin-bottom: 1px;
	    	color: white;
	    }
	}
	.bg-orange-light{
		width: 100%;
		.club{
			font-size: 14px;
			color: white;
			height: 100%;
			padding-left: 5px;
			padding-right: 5px;
			display: flex;
		    justify-content: center;
		    align-items: center;
		}
	}
	.box-sell{
		background: #EEF0F2;
		margin-bottom: 10px;
		padding: 10px 0px;
		&.purple{
			p{
				color: #564A8A;
			}
			.img-fluid{
				border: 3px solid #564A8A!important;
			}
			.figure-caption{
				span{
					color: #564A8A!important;
				}
			}
		}
		&.bell{
			font-family: AvenirDemi!important;
			font-size: 12px!important;
			p{
				color: #5B3E89;	
				margin-left: 50px;
				.dia{
					color: #79972F;
				}	
			}
			.figure-caption{
				font-family: AvenirM!important;
				color: black;
				font-size: 10px!important;
				text-align: left!important;
				margin: auto;
    			display: inline-block;
				.circle{
					background-image: url("../img/green-circle.png");
					display: inline-block;
					width: 10px;
					height: 10px;
					background-size: contain;
					margin-left: 20px;
				}
				.precio{
					font-family: Arial;
				    color: #999999;
				    font-size: 10px!important;
				    margin-left: 0px;
				}
			}
		}
		p{
			color: #AEC65A;
			font-size: 14px;
			margin-bottom: 10px;
			font-family: AvenirBold;
		}
		.figure{
			margin: auto;
		    display: inline-block;
		    text-align: center;
		    width: 40%;
		    position: relative;
		    left: 35px;
			.img-fluid{
				border: 3px solid #AEC65A;
			    padding: 8px;
			    background: #fff;
			    width: 130px;
			    height: 130px;
			    display: flex;
			    margin: auto;
			}
			.figure-caption{
				font-family: AvenirM;
				font-size: 12px;
				text-align: center;
				span{
					color: #AEC65A;
					font-size: 15px;
				}
			}
		}
	}
}

.box-info{
	color: white;
	font-family: seansProR;
	.bg-purple{
		padding: 15px 30px;
		p{
			margin-bottom: 0px;
			&.ico-phone{
				background-image: url("../img/ico-phone.png");
				background-size: 20px;
				background-position: left;
				background-repeat: no-repeat;
				padding-left: 25px;
			}
			&.ico-mail{
				background-image: url("../img/ico-mail.png");
				background-size: 20px;
				background-position: left;
				background-repeat: no-repeat;
				padding-left: 25px;
			}
		}
		.separator{
			bottom: -18px;
		}
	}
	.box-pays{
		height: 100px;
		padding: 0px 30px;
		p{
			font-family: seansProB;
			font-size: 14px;
			text-align: left;
			color: white;
			margin-top: 12px;
		}
		.icon-pago{
			width: 80px;
			height: 30px;
			display: inline-flex;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-bottom: 20px;
			&.visa{
				background-image: url('../img/visa.svg');
			}
			&.paypal{
				background-image: url('../img/paypal.svg');
			}
			&.mastercard{
				background-image: url('../img/mastercard.svg');
			}
			&.american{
				background-image: url('../img/american.svg');
			}
			&.oxxo{
				background-image: url('../img/oxxo.svg');
			}
		}
	}
	.bg-orange{
		padding: 0px 30px;
		p{
			margin-top: 10px;
			&.letter-bold{
				font-family: seansProB;
			}
		}
		.email-boletin{
			height: 50px;
			width: 100%;
			background: white;
			border: none!important;
			border-radius: 5px;
			font-family: seansProR;
			color: #848484;
			padding: 15px;
			margin-bottom: 20px;
		}
		button{
			color: white;
			padding: 10px;
			font-size: 16px;
			border-radius: 5px;
			border: none;
			bottom: 10px;
			position: absolute;
			width: 119px;
    	}
    	.redes-sociales{
    		margin-bottom: 10px;
			img{
	    		width:40px;
	    		height:40px;
	    		display: inline-flex;
	    		margin: 0px 4px;
	    	}
    	}
	}
}
.footer{
	color: #426084;
	font-size: 15px;
	bottom: 0px;
    position: relative;
    width: 100%;
    p{
    	width: 55%;
    	margin: 10px auto;
    	line-height: 1;
    }
}
.no-padding{
	padding: 0px;
}

.margin-b10{
	margin-bottom: 10px;
}

.bg-orange{
	background: #E75255;
}
.bg-orange-light{
	background: #E47868;
}

.bg-purple{
	background: #564A8A;
}
.bg-green{
	background: #AEC65A;
}

.bg-gray{
	background: #E1E2E2;
}
.bg-olive{
	background: #73AAAD;
}
.bg-olive-dark{
	background: #36607C;
}

.carousel{
	.carousel-control-prev, .carousel-control-next{
	    bottom: 30px;
	}
	.round-icon{
		background: gray;
	    border-radius: 50%;
	    width: 20px;
	    height: 20px;
	    span{
			width: 13px;
			height: 13px;
	    }
	}
}

.separator{
	width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 5px;
    background: white;
    bottom: 1px;
    border-radius: 5px;
    z-index: 99;
}

@media screen and (min-width: 768px){
	.header{
		padding: 20px;
		height: 80px;
		.logo-principal{
			width: 415px;
    		height: 50px;
		}
		.logo-car{
			margin-top: 5px;
			.circle-buy{
				right: 15px;
			}
		}
	}
	.navbar{
		.navbar-collapse{
			background: transparent;
			height: auto;
			.form-inline{
				input{
					width: 80%;
				    height: 35px;
				    margin: auto;
				    display: flex;
				}
			}
			.principal-menu{
				display: none;
				width: 180px;
			    height: auto;
			    display: block;
			    z-index: 99;
			    top: 60px;
			    right: 10px!important;
			}
		}
		.button-box{
			width: 50%;
    		justify-content: space-around;
    		.orange-button{
    			width: 210px!important;
    		}
		}
	}
	.container-fluid{
		.box-club{
			padding: 0px;
			.club{
				height: 75px;
    			justify-content: left;
			}
		}
		.list-menu{
			li{
				margin-bottom: 5px;
			}
		}
		.carousel{
			.round-icon{
				width: 25px;
    			height: 25px;
				span{
					width: 20px;
				    height: 13px;
				    margin-top: 6px;
				}
			}
		}
		.carousel-item{
			img{
				height: 340px;
			}
		}
		.box-sell{
			.figure{
				width: 16%;
				left: 9%;
				.figure-caption{
					text-align: left;
	    			width: 180px;
    				margin: auto;
				}
				.img-fluid{
					width: 180px;
					height: 180px;
				}
			}
			&.bell{
				.circle{
					display: none!important;
				}
				.figure{
					width: 20%;
				}
			}
		}
	}
	.box-info{
		.box-pays{
			height: auto;
		}
	}
	.footer{
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 40px;
	    p{
	    	width: 100%;
	    	font-size: 11px;
	    }
	}
	.banner{
		height: 250px!important;
		position: relative;
	}
}