//Fuentes
@font-face {font-family: AvenirBold; src: url("../fonts/avenir-next-bold.ttf")}
@font-face {font-family: AvenirDemi; src: url("../fonts/AvenirNext-DemiBold.ttf")}
@font-face {font-family: AvenirM; src: url("../fonts/AvenirNext-Medium.ttf")}
@font-face {font-family: AvenirR; src: url("../fonts/AvenirNext-Regular.ttf")}
@font-face {font-family: seansProR; src: url("../fonts/SourceSansPro-Regular.otf")}
@font-face {font-family: seansProB; src: url("../fonts/SourceSansPro-Bold.otf")}

body{
	background: white;
}
.header{
	background: #fff;
	height: 90px;
	padding: 30px;
	width: 100%;
	.logo-principal{
		background-image: url("../img/logo.png");
		width: 240px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		float: left;
	}
	.logo-car{
		background-image: url(../img/carrito.png);
	    width: 45px;
	    height: 45px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    float: right;
	    margin-top: -4px;
		.circle-buy{
			width: 20px;
			height: 20px;
			background: #AFC75A;
			border-radius: 50%;
		    position: absolute;
		    right: 22px;
		    top: 22px;
		    span{
		    	font-size: 12px;
			    color: white;
			    vertical-align: text-top;
			    padding-left: 7px;
		    }
		}
	}
}

.navbar{
	background-color: #5B3E89;
	button{
		border-color: transparent;
		.fa.fa-navicon {
		  color:white;
		}
	}
	.form-inline{
		width: 75%;
		.searching{
			background-image: url(../img/buscador.png);
		    background-position: right;
		    background-size: 17px;
		    height: 30px;
		    background-repeat: no-repeat;
		    font-family: AvenirR;
		    font-size: 11px;
		    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			    font-family: AvenirR;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			    font-family: AvenirR;
			}

			::-ms-input-placeholder { /* Microsoft Edge */
			    font-family: AvenirR;
			}
		}
	}
}

.container-fluid{
	font-family: AvenirR;
	.item{
		img{
			width: 100%;
		}
	}
	.list-menu{
		padding: 0px;
	    list-style-type: none;
	    font-size: 10px;
	    text-transform: uppercase;
	    margin: 5px 0px;
	    li{
	    	background: #e7c0b4;
	    	margin-bottom: 1px;
	    	color: white;
	    }
	}
	.club{
		font-size: 14px;
		color: white;
		display: table;
		height: 100%;
		p{
			display: table-cell;
			vertical-align: middle;
		}
	}
	.box-sell{
		background: #EEF0F2;
		margin-bottom: 10px;
		padding: 10px 0px;
		&.purple{
			p{
				color: #564A8A;
			}
			.img-fluid{
				border: 2px solid #564A8A!important;
			}
			.figure-caption{
				span{
					color: #564A8A!important;
				}
			}
		}
		p{
			color: #AEC65A;
			font-size: 14px;
			margin-bottom: 10px;
			font-family: AvenirBold;
		}
		.figure{
			margin: auto;
		    /* width: 100%;
		    height: 100%; */
			.img-fluid{
				border: 2px solid #AEC65A;
			    padding: 8px;
			    background: #fff;
			    width: 130px;
			    height: 130px;
			    margin-left: 0px;
			    margin-right: 39px;
			    display: flex;
			}
			.figure-caption{
				font-family: AvenirM;
				font-size: 12px;
				text-align: center;
				margin-left: 0px;
			    margin-right: 39px;
				span{
					color: #AEC65A;
					font-size: 15px;
				}
			}
			&:first-of-type{
				.img-fluid, .figure-caption{
					margin-left: 39px!important;
			    	margin-right: 0px!important;
				}
			}
		}
	}
	.box-info{
		color: white;
		font-family: seansProR;
		.bg-purple{
			padding-top: 15px;
    		padding-bottom: 15px;
			p{
				margin-bottom: 0px;
				&.ico-phone{
					background-image: url("../img/ico-phone.png");
					background-size: 20px;
					background-position: left;
					background-repeat: no-repeat;
					padding-left: 25px;
				}
				&.ico-mail{
					background-image: url("../img/ico-mail.png");
					background-size: 20px;
					background-position: left;
					background-repeat: no-repeat;
					padding-left: 25px;
				}
			}
		}
		.box-pays{
			height: 100px;
			p{
				font-family: seansProB;
				font-size: 14px;
				text-align: left;
				color: white;
				margin-top: 12px;
			}
			.icon-pago{
				width: 70px;
				height: 30px;
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				margin-bottom: 10px;
				&.visa{
					background-image: url('../img/ico-visa.svg');
				}
				&.paypal{
					background-image: url('../img/ico-paypal.svg');
				}
				&.mastercard{
					background-image: url('../img/ico-visa.svg');
				}
				&.american{
					background-image: url('../img/ico-american.svg');
				}
				&.oxxo{
					background-image: url('../img/ico-oxxo.svg');
				}
			}
		}
		.bg-orange{
			p{
				margin-top: 10px;
				&.letter-bold{
					font-family: seansProB;
				}
			}
			.email-boletin{
				height: 50px;
				width: 100%;
				background: white;
				border: none!important;
				border-radius: 5px;
				font-family: seansProR;
				color: #848484;
				padding: 15px;
				margin-bottom: 10px;
			}
			button{
				color: white;
				padding: 20px;
				font-size: 16px;
				border-radius: 5px;
    			border: none;
    		}
		}
	}
	.footer{
		color: #426084;
		font-size: 15px;
		bottom: 0px;
    	position: relative;
    	width: 100%;
    	p{
    		width: 55%;
    		margin: 10px auto;
    		line-height: 1;
    	}
	}
	
}
.no-padding{
	padding: 0px;
}

.margin-b10{
	margin-bottom: 10px;
}

.bg-orange{
	background: #E75255;
}
.bg-orange-light{
	background: #E47868;
}

.bg-purple{
	background: #564A8A;
}
.bg-green{
	background: #AEC65A;
}

.bg-gray{
	background: #E1E2E2;
}

.carousel{
	.round-icon{
		background: gray;
	    border-radius: 50%;
	    width: 20px;
	    height: 20px;
	    span{
			width: 13px;
			height: 13px;
	    }
	}
}