<div class="row space-gray d-block d-sm-none"></div>
<div class="row banner">
  <img class="d-block w-100" src="img/banner1.png">
  <div class="title  d-none d-sm-block">
    <span class="icon-premiame">Prémiame</span>
  </div>
</div>
<!--Movil Lunes-->
<div class="row d-block d-sm-none">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Lunes</span></p>
    <div id="lunes-movil" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="figure">
            <img src="img/tennis.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/tennis-color.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
          <figure class="figure">
            <img src="img/tennis-puntos.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/tennis-rosa.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#lunes-movil" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#lunes-movil" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Desktop Lunes-->
<div class="row d-none d-sm-block">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Lunes</span></p>
    <div id="lunes" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="figure">
            <img src="img/tennis.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/tennis-color.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/tennis-puntos.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/tennis-rosa.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
         <figure class="figure">
            <img src="img/tennis-puntos.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/tennis-rosa.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/tennis.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/tennis-color.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#lunes" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#lunes" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Movil Martes-->
<div class="row d-block d-sm-none">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Martes</span></p>
    <div id="martes-movil" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="figure">
            <img src="img/lentes-azul.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/lentes-n.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
          <figure class="figure">
            <img src="img/lentes-b.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/lentes-estuche.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#martes-movil" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#martes-movil" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Desktop Martes-->
<div class="row d-none d-sm-block">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Martes</span></p>
    <div id="martes" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="figure">
            <img src="img/lentes-azul.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/lentes-n.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/lentes-b.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/lentes-estuche.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
          <figure class="figure">
            <img src="img/lentes-b.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/lentes-estuche.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/lentes-azul.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/lentes-n.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#martes" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#martes" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Movil Miercoles-->
<div class="row d-block d-sm-none">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Miércoles</span></p>
    <div id="mier-movil" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="figure">
            <img src="img/bolso-am.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/bolsa-azul.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
          <figure class="figure">
            <img src="img/bolso-piel.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/bolso-r.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#mier-movil" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#mier-movil" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Desktop Miercoles-->
<div class="row d-none d-sm-block">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Miércoles</span></p>
    <div id="miercoles" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="figure">
            <img src="img/bolso-am.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/bolsa-azul.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/bolso-piel.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/bolso-r.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
         <figure class="figure">
            <img src="img/bolso-piel.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/bolso-r.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
         <figure class="figure">
            <img src="img/bolso-am.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/bolsa-azul.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#miercoles" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#miercoles" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Movil Jueves-->
<div class="row d-block d-sm-none">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Jueves</span></p>
    <div id="jueves-movil" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="figure">
            <img src="img/usb.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/usb2.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
          <figure class="figure">
            <img src="img/usb3.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/usb4.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#jueves-movil" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#jueves-movil" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Desktop Jueves-->
<div class="row d-none d-sm-block">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Jueves</span></p>
    <div id="jueves" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
           <figure class="figure">
            <img src="img/usb.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/usb2.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
           <figure class="figure">
            <img src="img/usb3.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/usb4.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
           <figure class="figure">
            <img src="img/usb3.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/usb4.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
           <figure class="figure">
            <img src="img/usb.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/usb2.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#jueves" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#jueves" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Movil Viernes-->
<div class="row d-block d-sm-none">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Viernes</span></p>
    <div id="viernes-movil" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="figure">
            <img src="img/herramienta.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/herramienta2.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
          <figure class="figure">
            <img src="img/herramienta3.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/herramienta4.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#viernes-movil" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#viernes-movil" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--Desktop Viernes-->
<div class="row d-none d-sm-block">
  <div class="col-12 no-padding box-sell bell">
    <p class="campaña">Campaña <span class="dia">Viernes</span></p>
    <div id="viernes" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="figure">
            <img src="img/herramienta.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/herramienta2.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/herramienta3.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/herramienta4.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
        <div class="carousel-item">
          <figure class="figure">
            <img src="img/herramienta3.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/herramienta4.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/herramienta.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/herramienta2.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#viernes" role="button" data-slide="prev">
        <div class="round-icon">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#viernes" role="button" data-slide="next">
        <div class="round-icon">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>
    </div>
  </div>
</div>