<div class="row space-gray">
  <div class="separator"></div>
</div>
<div class="row">
  <img class="d-block w-100" src="img/Asset_1.png">
  <div class="title icon-premiame">Prémiame</div>
</div>
<div class="row">
  <div class="col-12 no-padding">
    <p class="campania">Campaña <span class="dia">Lunes</span></p>
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 no-padding">
    <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
      <p class="campania">Campaña <span class="dia">Martes</span></p>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 no-padding">
    <p class="campania">Campaña <span class="dia">Miércoles</span></p>
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 no-padding">
    <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
      <p class="campania">Campaña <span class="dia">Jueves</span></p>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 no-padding">
    <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
      <p class="campania">Campaña <span class="dia">Viernes</span></p>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
          <figure class="figure">
            <img src="img/carrusel_1.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
              <strong>Nombre de producto</strong><span class="circle"></span>
              <p class="precio">600</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>